* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-weight: 700; }

section.page {
  width: 1440px;
  background-color: #c5e4e7;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5% 10%;
  min-height: 100vh; }

nav h2 {
  width: 97px;
  height: 60px;
  text-align: justify;
  letter-spacing: -0.2px; }

.bill {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  background-color: white;
  padding: 35px;
  border: inherit;
  border-radius: 15px; }
  .bill label {
    font-size: 18px;
    font-weight: 700;
    color: #5e7a7d; }
  .bill__compute {
    width: 50%;
    height: 100%; }
    .bill__compute > form {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: space-around; }
      .bill__compute > form .bill-total > section {
        width: 90%;
        position: relative;
        height: 57px; }
        .bill__compute > form .bill-total > section > span:first-child {
          position: absolute;
          left: 12px;
          top: 20px; }
        .bill__compute > form .bill-total > section input {
          width: 100%;
          padding-right: 15px;
          padding-left: 5%;
          text-align: end;
          padding-right: 7px;
          height: 100%;
          border-radius: 5px;
          border: inherit;
          background-color: #f4fafa;
          color: #00494d;
          font-size: 24px; }
          .bill__compute > form .bill-total > section input::placeholder {
            color: #00494d; }
      .bill__compute > form .bill-tip .percent-tip {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        height: 67px;
        column-gap: 17px;
        row-gap: 8px;
        margin-bottom: 15px; }
        .bill__compute > form .bill-tip .percent-tip__option {
          height: 30px;
          width: 100px; }
          .bill__compute > form .bill-tip .percent-tip__option > button {
            width: 100%;
            height: 100%;
            border: inherit;
            border-radius: 8px;
            background-color: #00494d;
            color: #f4fafa;
            color: #f4fafa; }
          .bill__compute > form .bill-tip .percent-tip__option button.active {
            background-color: #26c0ab;
            color: #00494d; }
          .bill__compute > form .bill-tip .percent-tip__option > input {
            width: 100%;
            height: 100%;
            border: inherit;
            border-radius: 8px;
            color: #7f9c9f;
            background-color: #c5e4e7;
            text-align: center; }
            .bill__compute > form .bill-tip .percent-tip__option > input:hover {
              border: 1px solid #26c0ab; }
      .bill__compute > form .number-people label .error-number {
        display: none;
        color: red;
        font-size: 14px; }
      .bill__compute > form .number-people > section {
        width: 90%;
        position: relative;
        height: 57px; }
        .bill__compute > form .number-people > section > span:first-child {
          position: absolute;
          left: 12px;
          top: 20px; }
        .bill__compute > form .number-people > section input {
          width: 100%;
          padding-right: 15px;
          padding-left: 5%;
          text-align: end;
          padding-right: 7px;
          height: 100%;
          border-radius: 5px;
          border: inherit;
          background-color: #f4fafa;
          color: #00494d;
          font-size: 24px; }
          .bill__compute > form .number-people > section input::placeholder {
            color: #00494d; }
  .bill__result {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    border: inherit;
    border-radius: 15px;
    background-color: #00494d;
    padding: 20px; }
    .bill__result > section {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px; }
      .bill__result > section label {
        width: 140px; }
        .bill__result > section label > span {
          display: block; }
          .bill__result > section label > span:first-child {
            color: white; }
          .bill__result > section label > span:last-child {
            font-size: 14px;
            color: #5e7a7d; }
      .bill__result > section input {
        width: 60%;
        border: inherit;
        border-radius: 5px;
        height: 100%;
        font-size: 34px;
        text-align: right;
        background-color: inherit;
        color: #26c0ab; }
      .bill__result > section button {
        width: 40%;
        height: 100%;
        border: inherit;
        border-radius: 10px;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto; }
        .bill__result > section button:first-child {
          background-color: #5e7a7d;
          color: white; }
        .bill__result > section button:last-child {
          background-color: #26c0ab;
          color: #00494d; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

button:hover {
  opacity: 0.8; }

@media only screen and (max-width: 376px) {
  section.page {
    width: 375px;
    padding: 0; }
  nav {
    margin: 30px; }
  .bill {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    min-height: 100vh; }
    .bill__compute {
      width: 100%;
      min-height: 400px; }
      .bill__compute form .bill-total--detail {
        width: 100%; }
      .bill__compute form .bill-total > section {
        width: 100%; }
        .bill__compute form .bill-total > section input {
          width: 100%; }
      .bill__compute form .bill-tip {
        min-height: 150px; }
        .bill__compute form .bill-tip section {
          column-gap: 20px;
          width: 100%;
          justify-content: center;
          margin: 10px auto 0; }
        .bill__compute form .bill-tip .percent-tip__option {
          height: 40px;
          width: 120px; }
      .bill__compute form .number-people section {
        width: 100%; }
    .bill__result {
      width: 100%; } }
